header h1 {
    mix-blend-mode: difference;
    text-align: center;
}

@media only screen and (max-device-width: 730px) {
    header h1 {
        font-size: 3rem !important;
    }
}

@media only screen and (max-device-width: 530px) {
    header h1 {
        font-size: 2rem !important;
    }
}