/* 
 * CONTENT OF THE WEB
*/

.content h1 {
    text-align: center;
    margin-top: 40px;
}



#about-me p {
    font-weight: lighter;
    letter-spacing: .1rem;
}

#about-me aside {
    margin-bottom: 30px;
}

h2 {
    font-weight: lighter;
    font-size: 4rem;
    margin: 0;
    letter-spacing: .1rem;
    /*transform: translateY(100px) scale(0.7);*/
}

#about-me h2 span {
    opacity: 0;
    -webkit-transform: translateY(15px);
    transform: translateY(15px);
}

.span-run:nth-child(1) {
    opacity: 1 !important;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition-delay: calc(1 * 40ms);
    transition-delay: calc(1 * 40ms);
}

.span-run:nth-child(2) {
    opacity: 1 !important;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition-delay: calc(1 * 40ms);
    transition-delay: calc(2 * 40ms);
}

.span-run:nth-child(3) {
    opacity: 1 !important;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition-delay: calc(1 * 40ms);
    transition-delay: calc(3 * 40ms);
}

.span-run:nth-child(4) {
    opacity: 1 !important;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition-delay: calc(1 * 40ms);
    transition-delay: calc(4 * 40ms);
}

.span-run:nth-child(5) {
    opacity: 1 !important;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition-delay: calc(1 * 40ms);
    transition-delay: calc(5 * 40ms);
}

.span-run:nth-child(6) {
    opacity: 1 !important;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition-delay: calc(1 * 40ms);
    transition-delay: calc(6 * 40ms);
}

.span-run:nth-child(7) {
    opacity: 1 !important;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition-delay: calc(1 * 40ms);
    transition-delay: calc(7 * 40ms);
}

.span-run:nth-child(8) {
    opacity: 1 !important;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition-delay: calc(1 * 40ms);
    transition-delay: calc(8 * 40ms);
}

.span-run:nth-child(9) {
    opacity: 1 !important;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition-delay: calc(1 * 40ms);
    transition-delay: calc(9 * 40ms);
}

.span-run:nth-child(10) {
    opacity: 1 !important;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition-delay: calc(1 * 40ms);
    transition-delay: calc(10 * 40ms);
}

.span-run:nth-child(11) {
    opacity: 1 !important;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition-delay: calc(1 * 40ms);
    transition-delay: calc(11 * 40ms);
}

.span-run:nth-child(12) {
    opacity: 1 !important;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition-delay: calc(1 * 40ms);
    transition-delay: calc(12 * 40ms);
}

.span-run:nth-child(13) {
    opacity: 1 !important;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition-delay: calc(1 * 40ms);
    transition-delay: calc(13 * 40ms);
}

.preorderTitleAnimation {
    -webkit-animation: preorderTitleAnim 1.5s ease-in-out both;
    animation: preorderTitleAnim 1.5s ease-in-out both;
}

@keyframes preorderTitleAnim {
    0% {
        transform: translateY(100px) scale(0.7);
    }

    45% {
        transform: translateY(100px) scale(0.7);
    }

    100% {
        transform: translateY(0) scale(1);
    }
}

.fadeInAnimation {
    -webkit-animation: fadeInAnim 1s ease both;
    animation: fadeInAnim 1s ease both;
    animation-delay: 0.4s;
}

@keyframes fadeInAnim {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

h5 {
    margin: 2px;
    font-weight: lighter;
    letter-spacing: .2rem;
}

.article-container {
    margin: 40px;
    padding: 40px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#about-me article {
    width: 695.64px;
}

.button {
    background-color: #243954;
    padding: 10px;
    transition: background-color .5s;
    width: max-content;
    cursor: pointer;
}

.button:hover {
    background-color: #192C43;
}

.button a {
    font-size: 1.3rem;
    color: #fff;
    width: max-content;
}


#web-projects h2 {
    margin-bottom: 40px;
    text-align: center;
}

#web-projects article {
    width: 1509px;
}

#web-projects .button {
    margin-top: 40px;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.project-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.project-list .frame::before {
    transform: translate(7px, 7px);
}

.project-list figure {
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.project-list figure:hover {
    transform: scale(1.01);
}

.project-list .frame {
    width: 350px;
    height: 350px;
}

.project-list figcaption {
    text-align: center;
    margin-top: 15px;
    font-size: 1.5rem
}

#profile-picture {
    height: 500px;
}

@media only screen and (max-device-width: 600px) {
    #profile-picture {
        height: 400px;
    }

    .frame {
        width: 400px;
        height: 400px;
    }

    .project-list figure {
        margin: 20px;
    }

}

@media only screen and (max-device-width: 530px) {
    #profile-picture {
        height: 350px;
    }

    #about-me aside {
        margin-bottom: 50px;
    }

    .frame {
        width: 350px;
        height: 350px;
    }

    #about-me article {
        width: 400px;
    }

    #about-me p {
        font-weight: lighter;
        letter-spacing: .1rem;
    }

    h2 {
        font-weight: lighter;
        font-size: 3rem;
        margin: 0;
        letter-spacing: .1rem;
        /*transform: translateY(100px) scale(0.7);*/
    }

    .project-list figure {
        margin: 15px;
    }

}

@media only screen and (max-device-width: 400px) {
    #profile-picture {
        height: 330px;
    }

    .frame {
        width: 330px;
        height: 330px;
    }
}